
        .colorhead{
            color:#fff ;
            background-color: #ff4c68;
            padding: 4% 0;
        }
        .colorhead2{
            color: #ff4c68 ;
            background-color: #ffffff;
            padding:4% 0;
        }
        .row{
            padding-top: 7%;

            background-color: #ff4c68;
        }
        h1 {
            text-align: center;
            padding: 20px 50px;

        }

        h2 strong {
            color: #fff;
        }

        .custom-color {
            background-color: #ff4c68;
            color: rgb(255, 255, 255);
        }

        .topic-heading {
            font-size: 24px;
            font-weight: bold;
        }
        .custom-color1 {
            background-color: #ffffff;
            color: rgb(199, 80, 80);
        }

        .topic-heading2 {
            font-size: 24px;
            font-weight: ;
        }
        .desc{
            color: black;
        }

        .description-text {
            font-style: italic;
            color: rgb(0, 0, 0);
            margin-top: 1px;
            padding:1rem 1rem ;
        }

        .web-page-name {
            position: absolute;
            padding: 2%;
            top: 10px;
            left: 10px;
            font-size: 250%;
        }
