
body{
  font-family: "Montserrat";
}
h1,h2,h3,h4,h5,h6 {
font-family: "Montserrat-bold";
}
p{
  color: #8f8f8f;
}
h3{
  padding: 1%;
}
/*headings*/
.headings-buld{
  font-size: 3rem;
  line-height: 1.5;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5rem;
}
.testimonial-text{
  font-size: 2rem;
  line-height: 1.5rem;
}
.section-heading{
  position: inherit;
  font-size: 3rem;
  line-height: 1.5rem;
}
.feature-title{

  font-size: 1.5rem;
}
.big-heading{
  font-family: "montserrat-black"
  font-size: 3.5rem;
  line-height: 1.5rem;

}
#title {
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid{
  padding: 7% 15%;

}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  right: 30%;
}

/* navbar section */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
font-family: "Ubuntu";
font-size: 2.5rem;
font-weight: bold;
}
.nav-item{
  padding: 0 18px;
  align-items:
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}
.icon-type{
color: #ef8172;
padding: 1rem;
}
.fetur-box {
  text-align: center;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}
.icon-type:hover{
  color: #ff4c68;
}
/* testimonials */


#About{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#subjects{
  padding:100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
#Information{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
  color: #fff;

}
@media (max-width :1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
#contact{
  text-align: center;
  padding: 7% 15%;
}
.social-icon{
  margin: 20px 10px;
}
.row{
  row-gap: 10px;
}
.sbtn{
  background-color: #ff4c68;
}
.card{
  position: relative;
  height: 350px;
  text-align: center;

}
.fixed-learn{
  bottom: 20px;
  text-align: center;
}
